.folder-item {
    height: 100%;
    width: 100%;
    background: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    color: #ffff4f;
    font-size: 1.5rem;
    transition-property: background, box-shadow;
    transition-duration: 0.4s, 1s;
    position: relative;
}

.folder-item:hover {
    background: rgb(0, 255, 179);
    box-shadow: 0 0 15px rgb(0, 255, 179);
}

.folder-item:hover * {
    color: black;
}

.type-id {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 0.8rem;
}
