.header {
    background: rgba(60, 60, 60, 0.7) ;
    grid-area: header;
    position: sticky;
    top: 0;
    box-shadow: 0 0 5px black;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.header-ico{
    fill: rgb(159, 159, 159);
    height: 35px;
}


@media screen and (max-width: 600px){
    .header{
        bottom: 0;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    .header{
        flex-direction: column;
        right: 0;
        height: 100%;
        position: fixed;
        width: 60px;
    }
}
