.container{
    background: rgba(60, 60, 60, 0.7);
    width: 30vw;
    border-radius: 13px;
    box-shadow: 0 0 3px black;
    padding: 30px 10px 15px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.AuthForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    width: 90%;
}

@media screen and (max-width: 1000px){
    .container{
        width: 100%;
    }
}


.form-title{
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.inputs > *{
    margin-bottom: 20px;
}
